<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Poker</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/loggedIn.css">
</head>
<body>
    <div class="center">


        <div class="headingWrapper">
            <div class="heading"><h1>Welcome ${username}!</h1></div>
        </div>


        <div id="hostButtonWrapper"><button id="hostButton" onclick="host()">Host Game</button></div>

        <h2>Available games:</h2>
        <div id="availableGamesDiv">
            <#list hosts as host>
                <p>${host}</p>
            </#list>
        </div>

        <div id="bottomWrapper">
            <div class="bottom">
                <button class="bottomButton">History</button>
                <button class="bottomButton">Logout</button>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript"src="/assets/webjars/jquery/2.1.1/jquery.js"></script>
<script>
    var bottomButtons = $(".bottomButton");
    bottomButtons.height($("#bottomWrapper").height()/2 * 0.95);
    $("#hostButton").height(bottomButtons.height());

    function host()
    {
        window.location="/LoggedIn/hosted";
    }
</script>

</html>