<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Poker</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/hand.css">
</head>
<body>

    <h1>Welcome! </h1>
    <p>Your hand is:</p>

    <img class="card" src="/assets/images/cards/${c0}.png"/>
    <img class="card" src="/assets/images/cards/${c1}.png"/>
    <img class="card" src="/assets/images/cards/${c2}.png"/>
    <img class="card" src="/assets/images/cards/${c3}.png"/>
    <img class="card" src="/assets/images/cards/${c4}.png"/>
    <p> ${Eval}</p>



    <button onlick="">Log out</button>

    <!--
        4 tot 6 hands
        here are 6 hands and this guy won
        many hands mapped to one hand
    -->
</body>

