<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Poker</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/hand.css">
</head>
<body>

    <h1>Let the game begin!</h1>
    <#assign userNum=0/>


    <#list hands as hand>
        <#assign cardNum=0/>
            <div class="users" id="user${userNum}">
                <h2>${userNum}</h2>
                <#list hand as card>
                    <img class="card user${userNum} card${cardNum}" src="/assets/images/cards/${card}.png"/>
                    <#assign cardNum=cardNum + 1/>
                </#list>
                <div class="handEvaluation">${evalHands[userNum]}</div>
                <div class="winnerMes">${winnerMes[userNum]}</div>
                <#assign userNum = userNum + 1/>
            </div>
    </#list>


</body>
</html>

